name: Build Kivy APK (Docker)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: quay.io/kivy/buildozer:latest  # imagem Docker oficial com Buildozer + SDK pronto

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build APK
      run: |
        buildozer -v android debug

    - name: Upload APK
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: spotify-apk
        path: bin/*.apk
        retention-days: 7
